{
  "root": true,
  "env": {
    "node": true,
    "browser": true
  },
  "extends": [
    "sanity/typescript",
    "prettier"
  ],
  "plugins": [
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "rules": {
    "no-undef": "off"
  }
}
