@import 'part:@sanity/base/theme/variables-style';

.container {
  composes: container from 'part:@sanity/dashboard/widget-styles';
}

.description {
  padding: var(--small-padding) var(--medium-padding) var(--medium-padding);
  margin: 0;
}

.header {
  composes: header from "part:@sanity/dashboard/widget-styles";
}

.title {
  composes: title from 'part:@sanity/dashboard/widget-styles';
}

.error {
  color: var(--state-danger-color);
  padding: var(--medium-padding);
}

.content {
  position: relative;
  padding: var(--small-padding) 0;
  border-top: 1px solid var(--hairline-color);
  min-height: 66px;
}

.sites {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer {
  composes: footer from 'part:@sanity/dashboard/widget-styles';
  border-top: 1px solid var(--hairline-color);
}
