@import 'part:@sanity/base/theme/variables-style';

.container {
  composes: container from 'part:@sanity/dashboard/widget-styles';
}

.containerWithPadding {
  composes: containerWithPadding from 'part:@sanity/dashboard/widget-styles';
}

.header {
  composes: header from "part:@sanity/dashboard/widget-styles";
}

.title {
  composes: title from 'part:@sanity/dashboard/widget-styles';
}

.sites {
  composes: listContainer from 'part:@sanity/dashboard/widget-styles';
}

.site {
  composes: containerWithPadding from 'part:@sanity/dashboard/widget-styles';
}

.buttonContainer {
  composes: bottomButtonContainer from 'part:@sanity/dashboard/widget-styles';
}
